* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

/* HEADER STYLES */

header {
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1, h2{
    color: rgb(49, 10, 85);
}

/* END HEADER STYLES */

button {
    display: inline-block;
    background-color: rgb(200, 147, 200);
    border: solid 2px purple;
    color: rgb(49, 10, 85);
    text-align: center;
    font-size: 25px;
    padding: 8px;
    margin: 5px;
}

button:hover {
    background-color: rgb(49, 10, 85);
    color: rgb(200, 147, 200);
}

h3 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#beginning-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer {
    text-align: center;
}

#quiz {
    display: none;
    text-align: center;
    align-items: center;
}

#answer-result {
    display: none;
}

#end-score {
    font-size: x-large;
    padding-bottom: 5px;
    font-weight: bold;
}

#end-quiz {
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
}

#total-page{
    border: solid;
    width: 50%;
    border-color: blueviolet;
    border-bottom-style: double;
    padding-bottom: 5px;
    background: silver;
    display: none;
}

#highscore-table{
    display: flex;
    justify-content: space-around;
    background-color: silver;
    color: black;
}

#overall-highscore{
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#initials {
    height: 30px;
    margin: 2px;
    color: black;
}

#highscore-initials {
    display: inline-block;
    text-align: center;
    margin-left: 140px;
}

#highscore-score {
    float: right;
    margin-right: 120px;
}

/* Table elements */

li {
    padding-bottom: 3px;
    color: black;
    list-style-type: none;
    background-color: silver;
    font-style: bold;
}

p {
    color: black;
    text-align: center;
    font-size: large;
}

h4 {
    color: black;
    margin-top: 3px;
    background-color: silver;
}

input {
    font-size: medium;
    text-align: center;
    width: auto;
    height: max-content;
}